{% extends 'base.html' %}
{% load static %}

{% block content%}


<div class="container">
    <h1>Jean Carlos Vega</h1>
    <img src="{% static 'my_app/jesus.png' %}" alt="mi_img">

    <p>Welcome to my webpage. It is built using Django. </p>
    <p>I am a software developer with more than three years of experience.</p>
    {% for usuario in usuarios%}
        <li>{{usuario.first_name}}</li>
    {% endfor %}

    {% if user.is_authenticated %}
    <p>You are logged in.</p>
    <p>Welcome {{user.get_username}}</p>
    <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
    {% else %}
    <p>You are not logged in</p>

</div>

{% endif %}
{% endblock %}