{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/mycss.css'%}" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link href="{% static 'my_app/custom.css'%}" rel="stylesheet">
    <title>JCVega</title>
</head>
<body>

  <header id="header" class="navbar-absolute-top">
      <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg">
      <div class="container ">
        <a class="navbar-brand" href="{% url 'my_app:simple' %}"><img src="{% static 'my_app/jesus.png' %}" alt="logo" width="100" height="50"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-auto align-items-lg-center">
              <li class="nav-item dropdown"><a class="nav-link active menu-btn" href="{% url 'my_app:simple' %}">Home</a></li>
              <li class="nav-item dropdown"><a class="nav-link menu-btn" href="{% url 'my_app:acercade' %}">Acerca</a></li>
              <li class="nav-item dropdown"><a class="nav-link menu-btn" href="#">Pricing</a></li>
            </ul>
            <div class="mt-3 mt-lg-0 d-flex align-items-center">
              <a class="btn btn-light mx-2" href="{% url 'login' %}?next={{request.path}}">Login</a>
              <a class="btn btn-primary" href="{% url 'my_app:signup' %}">Sign up</a>
            </div>
            
        </div>
     
        
      </div>
    </nav>
  </header>

    {% block content%}

    {% endblock %}
</body>
</html>